<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO Client</title>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>
<body>

<textarea rows="20" cols="30" id="chat"></textarea><br>
<input type="text" id="user"><input type="button" value="msg submit" onclick="myOnClick()">

<script>
    const socket = io.connect('http://localhost:8081', {
        // cors: {origin: '*'}
    });

    socket.emit('join', {roomName: 'myroom'});

    socket.on('recMsg', function (data) {
        console.log(data)
        document.querySelector('#chat').value += data + '\n';
    });

    function myOnClick() {

        socket.emit("msg", {comment: document.querySelector('#chat').value});
        document.querySelector('#chat').value = '';
    }
</script>
</body>
</html>